extends layout

block content
  h1= "DUNE Network Monitor backend"
  p You probably didn't mean to come here.<br> Try connecting to the interface, it SHOULD be the same URL but -1 on the port number.
